* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  background: #fff;
  position: relative;
  color: #636368;
}

.todo-container {
  border: 2px solid #5b75e3;
  width: 500px;
  min-height: 300px;
  max-height: 600px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 25px;
  border-radius: 10px;
}

.todo-title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 25px;
}

.todo-input {
  margin-bottom: 25px;
}

.todo-input input {
  border: 0;
  outline: 0;
  background-color: #eaedee;
  padding: 10px;
  border-radius: 5px;
}

.todo-input button {
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  background: #5b75e3;
  color: #fff;
  cursor: pointer;
}

.todo-input .btn-delete-all {
  background-color: rgba(255, 0, 0, 0.729);
}

.todo-data {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  max-height: 300px;
  overflow-y: auto;
}

.todo-item {
  padding: 10px;
  border-bottom: 1px solid gray;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todo-item button {
  padding: 5px 7px;
  border: none;
  outline: none;
  border-radius: 5px;
  background: red;
  color: #fff;
  cursor: pointer;
}

.todo-name {
  white-space: nowrap; /* Prevents text from wrapping */
  overflow: hidden; /* Hides the overflowed text */
  text-overflow: ellipsis;
}

.todo-image img {
  width: 150px;
}

.logo {
  will-change: filter;
  transition: filter 300ms;
  margin-top: 20px;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}
